# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# python
__pycache__/
*.py[cod]

# local env files
.env*.local
.env
backend/.env
backend/.env.smtp.local
backend/.venv/
backend/db.sqlite3
backend/media/
backend/staticfiles/

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
